h1{
    text-align: center;
}


img{
    margin-left: 300px;
}

h2{
    text-align: center;
    color: blue;
}

body{
    text-align: center;
    background-image:url(images/pexels-startup-stock-photos-212286.jpg);
}